
  <h1>All the Reviews </h1>

<ul>
<% @reviews.each do |review| %>
<li>
    <%#= @review.shoe.shoe_type%>: <%#= link_to @review.title, shoe_review_path(review)%> - <%#= @review.stars%>
  </li> <br>

<% end %>
</ul>