<%# <% if @shoe %> %>
  <%# <h1>Reviews for <%= @shoe.shoe_type%> - <%#= @shoe.brand_name%></h1> %>
<%# <% else %> %>
  <h1>All the Reviews </h1>
<%# <% end %> %>

<ul>
<% @reviews.each do |r| %>
<li><%=r.shoe.shoe_type%><%=r.title%> - <%=r.stars%></li>

  <li>
    <%#= @review.shoe.shoe_type%>: <%#= link_to @review.title, shoe_reviews_path(review)%> - <%#= @review.stars%>
  </li> <br>

<% end %>
</ul>